body{
    background-color:rgb(255, 149, 0);
    
}
#HEADING1{
    background-color: aquamarine;
    font-size:20px;
    color:darkgoldenrod;
    margin-top:0px;
    padding:10px;
    font-weight: bolder;
}
canvas{
    border:5px solid red;
    border-radius:10px;
    box-shadow:5px 5px 5px yellow;
    margin-top:130px;
}
#footer{
    position:fixed;
    bottom:0px;
    background-color:slateblue;
    color: cornsilk;
    width:100%;
    text-align:center;
    line-height:2;
}
label{
    color:white;
}
#note{
    font-size:12px;
    color:red;
}